table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f3d4083d;}


.chart-container {
    width: 400px;
    height: 400px;
    
}

.nav {
    width: 100%;
    background-color: #333;
}

.nav ul {
    list-style-type: none;
    /* max-width: 780px; */
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #111;
}



.viewContent {
    background-color: #FFF9C4; 
    padding: 50px;  

}


#footerDiv {
    width: 100%;
    height: 80px; 
    background-color: #333;

}

#inputs{
    min-height: 10%; 
    height: 10%;
    max-height: 10%; 
    color: white; 
    background-color: rgb(196, 196, 196);
    /* height: 110px */
}

.inputButton{
    padding: 2px; 
    margin: 25px;
    height: 40px; 

}

.inputInput {
    padding: 2px; 
    margin: 25px;
    height: 40px; 

}

#inputNav {
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

#logo {
    width: 180px;
    height: 60px; 
    background-color: #62b4b4; 
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 25px;
    border-radius: 5px;
}

#myChart {

}

#navRight {
    float: right; 
    padding-right: 50px; 
}
