<!-- edit object: vm.editObject -->

<md-dialog id="editDialog">

        <h3 layout="row">Edit Task:</h3>

        <!-- TASK INPUT -->
        <div layout="column">
    
            <form ng-submit="vm.updateTask(vm.taskToUpdate)">
            <div layout="row">
                
                <!-- SELECT CLIENTS -->
                <md-input-container>
                    <select ng-model="vm.newTask.client_id">
                            <option selected value="null">{{vm.editObject.client}}</option>
                            <option ng-repeat="client in vm.clientList.list" value="{{client.id}}">{{client.client}}</option>
                    </select>    
                </md-input-container>
    
                <!-- SELECT PROJECTS -->
                    <md-input-container>
                        <select ng-model="vm.newTask.project_id">
                                <option selected value="null">---Select project---</option>
                                <option ng-repeat="project in vm.projectList.list" value="{{project.id}}">{{project.project}}</option>
                        </select>    
                    </md-input-container>
                    
            </div>    

                    <!-- TASK INPUT -->
                    <md-input-container>
                        <input ng-init="vm.editObject" ng-model="vm.taskToUpdate.task" type="text" >
                    </md-input-container>
                
                <div layout="row">
                    <!-- TIME INPUTS -->
                    <md-input-container>
                        <input ng-model="vm.newTask.estTime" type="number" placeholder="Estimated Time (in hours)">
                    </md-input-container>
        
                    <md-input-container>
                        <input ng-model="vm.newTask.actTime" type="number" placeholder="Actual Time (if applicable)">
                    </md-input-container>
                </div>
                    <!-- SUBMIT BUTTON -->
                    <md-button layout="row" class="md-raised" type="submit">Submit Project</md-button>
                
            </form>
                
        </div>

    </md-dialog>
