<md-content layout="column" id="inputs" ng-controller="InputController as vm">
    
    <!-- <div  id="logo">
    </div> -->

    <div class="nav" id="inputNav">
        <ul>
            <li>
                <md-button ng-click="vm.showClientInput()">Add a client</md-button>
            </li>
            <li>
                <md-button ng-click="vm.showProjectInput()">Add a project</md-button>
            </li>
            <li>
                <md-button ng-click="vm.showTaskInput()">Add a task</md-button>
            </li>
        </ul>

    </div>

    <div>
        <!-- CLIENT INPUT -->
        <form ng-if="vm.clientInShow" 
                flex layout="row" 
                ng-submit="vm.addClient(vm.newClient)"
                >
            <md-input-container class="inputInput">
                <input ng-model="vm.newClient.client" type="text" placeholder="New Client">
            </md-input-container>
            <md-button  class="md-raised inputButton" type="submit">Add Client</md-button>
        </form>
        
        <!-- PROJECT INPUT  -->
        <form ng-if="vm.projectInShow" flex layout="row"  ng-submit="vm.addProject(vm.newProject)">
            <md-input-container class="inputInput">
                <md-select ng-model="vm.newProject.client_id">
                    <md-option selected value="null">---Select client---</md-option>
                    <md-option ng-repeat="client in vm.clientList.list" value="{{client.id}}">{{client.client}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="inputInput">
                <input ng-model="vm.newProject.project" type="text" placeholder="Name of Project">
            </md-input-container>
            <md-button class="md-raised inputButton" 
                        type="submit">Submit</md-button>
        </form>

    </div>


        <!-- TASK INPUT -->
    <div >

        <form ng-if="vm.taskInShow"  layout="row" id="addTaskInput" ng-submit="vm.addTask(vm.newTask)">
            <!-- SELECT CLIENTS -->
            <md-input-container class="inputInput">
                <md-select ng-model="vm.newTask.client_id">
                        <md-option selected value="null">---Select client---</md-option>
                        <md-option ng-repeat="client in vm.clientList.list" value="{{client.id}}">{{client.id}} {{client.client}}</md-option>
                </md-select>    
            </md-input-container>
            <span></span>
            <!-- SELECT PROJECTS -->
                <md-input-container class="inputInput">
                    <!-- possible ng-click to filter projects based on client ng-click="vm.filterProjects(vm.newTask.client_id, vm.projectList.list)" -->
                    <md-select class="md-primary" ng-model="vm.newTask.project_id">
                            <md-option selected value="null">---Select project---</md-option>
                            <md-option ng-repeat="project in vm.projectList.list" value="{{project.id}}">{{project.project}}</md-option>
                    </md-select>    
                </md-input-container>
                
                <md-input-container class="inputInput">
                    <input ng-model="vm.newTask.task" type="text" placeholder="New task">
                </md-input-container>
            
            
                <!-- TIME INPUTS -->
                <md-input-container class="inputInput">
                    <input ng-model="vm.newTask.estTime" type="number" placeholder="Estimated Time (in hours)">
                </md-input-container>
    
                <md-input-container class="inputInput">
                    <input ng-model="vm.newTask.actTime" type="number" placeholder="Actual Time (if applicable)">
                </md-input-container>
    
                <!-- SUBMIT BUTTON -->
                <md-button class="md-raised inputButton" type="submit">Submit Project</md-button>
          
        </form>
        
    </div>
    

</md-content>    
