<h1>Client/Project View</h1>

<h3>Add new client</h3>
<form ng-submit="vm.addClient(vm.newClient)">
    <input ng-model="vm.newClient.client" type="text" placeholder="Client">
    <button type="submit">Submit</button>
</form>


<h3>Add new project:</h3>
<form ng-submit="vm.addProject(vm.newProject)">

    <select ng-model="vm.newProject.client_id">
        <option value="">---Select client---</option>
        <option ng-repeat="client in vm.clientList.list" value="{{client.id}}">{{client.client}}</option>
    </select>

    <input ng-model="vm.newProject.project" type="text" placeholder="Name of Project">
    <button type="submit">Submit</button>
</form>

<h3>Add new task</h3>
<form ng-submit="vm.addTask(vm.newTask)">
    <!-- select for cleints -->
        <select ng-model="vm.newTask.client_id">
                <option value="">---Select client---</option>
                <option ng-repeat="client in vm.clientList.list" value="{{client.id}}">{{client.client}}</option>
        </select>    
    <!-- select for projects -->
        <select ng-model="vm.newTask.project_id">
                <option value="">---Select project---</option>
                <option ng-repeat="project in vm.projectList.list" value="{{project.id}}">{{project.project}}</option>
        </select>    
    
    <input ng-model="vm.newTask.task" type="text" placeholder="New task">
    <input ng-model="vm.newTask.estTime" type="number" placeholder="Estimated Time (in hours)">
    <input ng-model="vm.newTask.actTime" type="number" placeholder="Actual Time (if applicable)">
    <button type="submit">Submit Project</button>
</form>


<!-- full list of clients -->
<h3>Full client list</h3>
<p ng-repeat="client in vm.clientList.list">{{client.id}} {{client.client}}</p>

<!-- full list of projects -->
<h3>Full project list</h3>
<p ng-repeat="project in vm.projectList.list">{{project.id}} {{project.project}}</p>

<!-- full list of tasks -->
<h3>Full task list</h3>
<p ng-repeat="task in vm.taskList.list">{{task.id}} {{task.task}} {{task.est_time}}  {{task.act_time}}</p>


