<md-content class="viewContent"    
            flex layout-padding>
    
    <h1>Project Overview</h1>
    
    <table>
        <thead>
            <th>Client</th>
            <th>Project</th>
            <th>Task</th>
            <th>Billable Hours</th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
    
        <!-- data input goes here -->
        <tbody ng-repeat="fullObject in vm.fullTable.list | orderBy: 'client'">
            <tr>
                <td>{{fullObject.client}}</td>
                <td>{{fullObject.project}}</td>
                <td>{{fullObject.task}}</td>
                <td>{{fullObject.act_time}}</td>
                <td><md-button class="md-warn md-secondary" ng-click="vm.deleteTask(fullObject.task_id, $event)">Remove Task</md-button></td>
                <td><md-button class="md-warn md-secondary" ng-click="vm.deleteProject(fullObject.project_id, $event)">Remove Project</md-button></td>
                <td><md-button class="md-warn md-secondary" ng-click="vm.deleteClient(fullObject.client_id, $event)">Remove Client</md-button></td>
            </tr>
        </tbody>
    </table>

</md-content>