<h1>Tasks View</h1>

{{vm.newProject}}
<form ng-submit="vm.addProject(vm.newProject)">
    <input ng-model="vm.newProject.client" type="text" placeholder="Client">
    <input ng-model="vm.newProject.project" type="text" placeholder="Project">
    <input ng-model="vm.newProject.task" type="text" placeholder="Task">
    <input ng-model="vm.newProject.estTime" type="text" placeholder="Estimated Time (in hours)">
    <input ng-model="vm.newProject.actTime" type="text" placeholder="Actual Time (if applicable)">
    <button type="submit">Submit Project</button>
</form>